<ng-include src="'partials/sidebar.html'"></ng-include>

<div class="col-sm-9 main">

  <div class="col-sm-6">
    <h2>{{ currentDish.name }}</h2>
    
    <img src="img/{{ currentDish.image }}" />

    <p>{{ currentDish.description }}</p>
  </div>

  <div class="col-sm-6">
    <h3>Ingredients for {{ numberOfGuests }} people</h3>
    
    <table class="table">
      <tr>
        <th>Quantitiy</th><th>Ingredient</th><th>Price</th>
      </tr>

      <tr ng-repeat="i in currentDish.ingredients">
        <td>{{i.quantity}} {{i.unit}}</td><td>{{i.name}}</td><td>SEK {{i.price}}</td>
      </tr>

    </table>

    <div class="total">
      <button type="button" class="btn btn-default" ng-click="confirmDish()">
        <span class="glyphicon glyphicon-ok"></span> Confirm dish
      </button>
      <span class="pull-right">SEK {{priceOfCurrentDish}}</span>
    </div>
  </div>
</div>
 
</div><!-- /.main -->